
div{
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
}

.red {
    background-color: red;
    text-align: left;
    
}
.green{  
    background-color: green;
    margin-left: 200px;
    text-align: center;

    
}
.blue {
    background-color: blue;
    margin-left: 400px;
    text-align: right;
    
}
p{
    margin:0;   
}